{% load static %}

{% if messages %}
        {% for message in messages %}
            {% if form.errors %}
                {{message}}
            {% else %}
                {{message}}
                {% endif %}
        {% endfor %}
{% endif %}

{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LRS - Biblioteca</title>

</head>
<body>
    <div class="container">
        <form class="form" method="POST" action="{% url 'signin' %}">
            {% csrf_token %}
            <label class="label-input" for="">
                <input type="email" id="signin-user" name="email" placeholder="Email">
            </label>
        
            <label class="label-input" for="">
                <input type="password" id="signin-password" name="password" value="{{password}}">
            </label>
        
            <a class="password" href="#">Esqueceu a sua senha?</a>
            <button>Logar</button>
        </form>
    </div>
</body>
</html>
    
{% endblock %}