{% load static %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a861f52fab.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LRS - Biblioteca</title>
    <!-- Importações do Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="icon" href="{% static 'images/outofbox_logo.jpg' %}">
</head>

{% block content %}

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
       <strong>{{ message }}</strong>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
       </button>
    </div>
{% endfor %}

<!DOCTYPE html>
<html>
<body>
	<div id="particles-js"></div>
	<img class="wave" src="{% static 'images/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'images/library-animate.svg' %}">
		</div>
		<div class="login-content">
			<form class="form" method="POST" action="{% url 'signin' %}">
                {% csrf_token %}
				<img src="{% static 'images/add-user-animate.svg' %}">
				<h2 class="title">Bem-Vindo(a)</h2>
           		<div class="input-div one">
           		    <div class="i">
                        <i class="fa-solid fa-envelope"></i>
           		    </div>
           		    <div class="div">
                        <h5 id="email-label">Email</h5>
           		   		<input type="email" id="signin-user" name="email">
           		    </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
					<i class="fa-solid fa-key"></i>
           		   </div>
           		   <div class="div">
                        <h5 id="password-label">Senha</h5>
           		    	<input type="password" id="signin-password" name="password" value="{{password}}">
            	   </div>
            	</div>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
</body>
</html>
    
{% endblock %}