{% extends 'base.html' %}

{% block content %}

    <body>
        <h1>Login</h1>
        <form method="POST" action="{% url 'signin' %}">
            {% csrf_token %}
            <label for="signin-user">Login</label>
            <input type="text" id="signin-user" name="user_login" placeholder="Nome ou E-mail">
            <label for="signin-password">Senha</label>
            <input type="password" id="signin-password" name="password" value="{{passwd}}">
            <button type="submit">Logar</button>
        </form>            

    </body>
    
{% endblock %}