@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&family=Roboto:ital,wght@1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* LOGIN */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}
.container img {
  max-width: 200px;
  max-height: 150px;
  width: 177px;
  height: 60px;
  top: 1px;
  left: 1px;
  border-radius: 5%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container img .second-column {
  max-width: 200px;
  max-height: 150px;
  width: 177px;
  height: 60px;
  top: 90px;
  left: 10px;
  border-radius: 5%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content {
  background-color: #fff;
  border-radius: 15px;
  width: 960px;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content::before {
  content: "";
  position: absolute;
  background-color: #58af9b;
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  left: 0;
}
.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
.title-primary {
  color: #fff;
}
.title-second {
  color: #58af9b;
}
.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}
.description-primary {
  color: #fff;
}
.description-second {
  color: #7f8c8d;
}
.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
}
.btn-primary {
  background-color: transparent;
  border: 1px solid #fff;
  transition: background-color 0.5s;
}
.btn-primary:hover {
  background-color: #fff;
  color: #58af9b;
}
.btn-second {
  background-color: #58af9b;
  border: 1px solid #58af9b;
  transition: background-color 0.5s;
}
.btn-second:hover {
  background-color: #fff;
  border: 1px solid #58af9b;
  color: #58af9b;
}
.first-content {
  display: flex;
}
.first-content .second-column {
  z-index: 11;
}
.first-column {
  text-align: center;
  width: 40%;
  z-index: 10;
}
.second-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media {
  margin: 1rem 0;
}
.link-social-media:not(:first-child) {
  margin-left: 10px;
}
.link-social-media .item-social-media {
  transition: background-color 0.5s;
}
.link-social-media:hover .item-social-media {
  background-color: #58af9b;
  color: #fff;
  border-color: #58af9b;
}
.list-social-media {
  display: flex;
  list-style-type: none;
}
.item-social-media {
  border: 1px solid #bdc3c7;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #95a5a6;
}
.form {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.form input {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #ecf0f1;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
  -webkit-text-fill-color: #000 !important;
}
.label-input {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
}
.icon-modify {
  color: #7f8c8d;
  padding: 0 5px;
}

/* second content*/

.second-content {
  position: absolute;
  display: flex;
}
.second-content .first-column {
  order: 2;
  z-index: -1;
}
.second-content .second-column {
  order: 1;
  z-index: -1;
}
.password {
  color: #34495e;
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
}
.password::first-letter {
  text-transform: capitalize;
}

.sign-in-js .first-content .first-column {
  z-index: -1;
}

.sign-in-js .second-content .second-column {
  z-index: 11;
}
.sign-in-js .second-content .first-column {
  z-index: 13;
}

.sign-in-js .content::before {
  left: 60%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: slidein 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/

  z-index: 12;
}

.sign-up-js .content::before {
  animation: slideout 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/

  z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
  z-index: -1;
}

.sign-up-js .first-content .second-column {
  z-index: 11;
}

.sign-up-js .first-content .first-column {
  z-index: 13;
}

/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .first-content .second-column {
  z-index: -1;
  position: relative;
  animation: deslocamentoEsq 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

.sign-up-js .second-content .second-column {
  position: relative;
  z-index: -1;
  animation: deslocamentoDir 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoEsq {
  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: -80px;
    opacity: 0.5;
    /* z-index: 12; NÃO HÁ NECESSIDADE */
  }

  50% {
    left: -100px;
    opacity: 0.2;
    /* z-index: 12; NÃO HÁ NECESSIDADE */
  }

  to {
    left: -110px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes deslocamentoDir {
  from {
    left: 0;
    z-index: 12;
  }

  25% {
    left: 80px;
    /* z-index: 12;  NÃO HÁ NECESSIDADE*/
  }

  50% {
    left: 100px;
    /* z-index: 12; NÃO HÁ NECESSIDADE*/
    /* background-color: yellow;*/
  }

  to {
    left: 110px;
    z-index: -1;
  }
}

/*ANIMAÇÃO CSS*/

@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }

  25% {
    left: 5%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 45%;
    width: 50%;
  }

  to {
    left: 60%;
    width: 40%;
  }
}

@keyframes slideout {
  from {
    left: 60%;
    width: 40%;
  }

  25% {
    left: 45%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 5%;
    width: 50%;
  }

  to {
    left: 0;
    width: 40%;
  }
}

/*VERSÃO MOBILE*/
@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
    height: 100%;
  }

  .content::before {
    width: 100%;
    height: 40%;
    top: 0;
    border-radius: 0;
  }
  .first-content,
  .second-content {
    flex-direction: column;
    justify-content: space-around;
  }

  .first-column,
  .second-column {
    width: 100%;
  }

  .sign-in-js .content::before {
    top: 60%;
    left: 0;
    border-radius: 0;
  }

  .form {
    width: 90%;
  }

  /* ANIMAÇÃO MOBILE CSS*/

  @keyframes deslocamentoEsq {
    from {
      top: 0;
      opacity: 1;
      z-index: 12;
    }

    25% {
      top: -80px;
      opacity: 0.5;
      /* z-index: 12; NÃO HÁ NECESSIDADE */
    }

    50% {
      top: -100px;
      opacity: 0.2;
      /* z-index: 12; NÃO HÁ NECESSIDADE */
    }

    to {
      top: -110px;
      opacity: 0;
      z-index: -1;
    }
  }

  @keyframes deslocamentoDir {
    from {
      top: 0;
      z-index: 12;
    }

    25% {
      top: 80px;
      /* z-index: 12;  NÃO HÁ NECESSIDADE*/
    }

    50% {
      top: 100px;
      /* z-index: 12; NÃO HÁ NECESSIDADE*/
      /* background-color: yellow;*/
    }

    to {
      top: 110px;
      z-index: -1;
    }
  }

  @keyframes slidein {
    from {
      top: 0;
      height: 40%;
    }

    25% {
      top: 5%;
      height: 50%;
    }

    50% {
      top: 25%;
      height: 60%;
    }

    75% {
      top: 45%;
      height: 50%;
    }

    to {
      top: 60%;
      height: 40%;
    }
  }

  @keyframes slideout {
    from {
      top: 60%;
      height: 40%;
    }

    25% {
      top: 45%;
      height: 50%;
    }

    50% {
      top: 25%;
      height: 60%;
    }

    75% {
      top: 5%;
      height: 50%;
    }

    to {
      top: 0;
      height: 40%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .form {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .content {
    height: 80%;
  }
}

/* Navbar */

nav {
  z-index: 15;
}

nav.menu-lateral {
  width: 80px;
  height: 100vh;
  background-color: #7b9c69;
  /* ajustar a posição dos icones */
  padding: 60px 0 60px 1%;
  box-shadow: 3px 0 0 #88aac7;

  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
  z-index: 10;
}

nav.menu-lateral.expandir {
  width: 300px;
}

.btn-expandir {
  width: 100%;
  padding-left: 10px;
  padding-bottom: 100px;
  position: absolute;
  line-height: 20px 20px;
}

.btn-expandir > i {
  color: rgb(255, 255, 255);
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  padding-bottom: 10%;
}

ul item-menu {
  height: 100%;
  list-style-type: none;
  align-items: stretch;
}

ul li.item-menu {
  transition: 0.2s;
}

ul li.ativo {
  background-color: #88aac7;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-bottom: 3%;
}

ul li.item-menu:hover {
  background: #88aac7;
  padding: 2px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

ul li.item-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 2.5%;
  display: flex;
  margin-bottom: 15px;
  line-height: 40px;
}

ul li.item-menu a .txt-link {
  margin-left: 30px;
  transition: 0.5s;
  opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
  margin-left: 40px;
  opacity: 1;
}

ul li.item-menu a .icon > i {
  font-size: 30px;
  margin-left: 10px;
}

/* Livros */
:root {
  background: #99c28b;
  --background-card: #e0d5b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  /* background-color: var(--background); */
  display: grid;
  place-items: center;
  height: 40vh;
  padding-top: 50px;
}

.secao {
  position: absolute;
  top: -26%;
  left: -10%;
  font-family: Young Serif;
  color: rgb(55, 57, 86);
  font-style: italic;
  text-decoration: underline;
}

.gallery {
  display: flex;
  left: calc(50% - 300px);
  position: absolute;
  left: 20%;
}

.card {
  position: relative;
  left: 0px;
  width: 110px;
  height: 160px;
  background-color: var(--background-card);
  border-radius: 8px;
  transition: 1s ease-in-out;
  overflow: hidden;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

.card:not(:first-child) {
  margin-left: -45px;
}

.card:hover {
  transform: translateY(-16px);
  font-weight: bold;
  cursor: pointer;
}

.card:hover ~ .card {
  left: 55px;
}

.card img {
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
}

.to-side {
  z-index: 11;
  position: absolute;
  top: 33%;
  right: -5%;
  cursor: pointer;
}

/*  CABEÇALHO */

.logo {
  border-radius: 5px;
  position: absolute;
  right: 5%;
  top: 2%;
}
.cabecalho {
  font-family: "Chivo Mono", monospace;
  display: flex;
  gap: 78px;
  padding: 34px;
  background-color: bisque;
}

ul li {
  list-style: none;
}

ul li a {
  font-size: 20px;
  font-weight: 550;
  text-decoration: none;
  color: rgb(147, 108, 63);
  padding: 15px;
  align-self: flex-start;
}

/* Barra de pesquisa */

/* barra em geral */
.search-box {
  background: #fff;
  height: 50px;
  border-radius: 40px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: right;
  position: absolute;
  right: 35%;
  top: 10px;
}

/* texto (formatação) */
.search-text {
  background: none;
  border: 0;
  outline: 0;

  font-size: 16px;
  width: 0;

  padding: 0;
}

/* tamanho da caixa de texto */
.search-text {
  width: 500px;
  padding-left: 20px;
}

/* fundo verde da lupa */
.back-loupe-white {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 43px;
  height: 50px;
  background: #94cc74;
  position: absolute;
  top: 0%;
  right: -2%;

  padding: 0%;
}

/* espaçamento da lupa */
.loupe-white {
  margin: 10px 5px;
}

/* Formulário */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e0d5b3;
  padding: 1em;
  border-radius: 1em;
  width: 50%;
  justify-content: center;
}

.form {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.form-group input,
textarea,
button {
  border: none;
  outline: none;
  border-radius: 1em;
  padding: 1em;
  background-color: white;
  margin: 0.3em;
  width: 100%;
}

.form-group button {
  background-color: orange;
  width: 100%;
}

.form-group button:hover {
  background-color: darkgoldenrod;
}

#right-info {
  max-width: 100%;
  height: auto;
  margin-left: 20px;
}

/* SINOPSE DOS LIVROS */
.resumo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 80%;
  background: rgb(47, 48, 83);
  z-index: 9;

  /* transparencia */
  filter: alpha(opacity=50);
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;

  border-radius: 25px;
}

/* .sinopse::first-letter{
    ESTILIZAR A PRIMEIRA LETRA
    font-size: 2rem;
    float: left;
    margin: 3px;
    
} */

.star {
  opacity: 1;
  position: absolute;
  left: 35%;
}

.avaliacao-box {
  height: 50px;
  width: 100px;
  color: #fff;
}

.sinopse {
  text-align: left;
  color: #fff;
  padding: 30px;
}

.título {
  text-align: center;
  color: #fff;
  padding: 30px;
}

/* PERFIL BIBLIOTECARIO(A) */

.information {
  width: 20%;
  height: 50%;
  border-radius: 15px;

  /* posição */
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  background-color: #6f7fac;
  z-index: 2;
  text-align: center;
}

.title-profile {
  padding-left: 20px;
  padding-top: 20px;
  color: #fff;
}

.profile {
  position: absolute;
  right: 18%;
  top: 10%;
}

.cadastro {
  position: absolute;
  top: 75%;
  right: 27%;

  width: 150px;
  height: 50px;

  color: #fff;
  padding: 8px 22px;
  border-radius: 10px;
  background: #323099;

  cursor: pointer;
  border: 0;
  outline: 0;
}

.cadastro::before {
  content: "Bibliotecário(a)";
  position: absolute;
  top: -90px;
  right: 12%;
  font-size: large;
}

.circle {
  background-color: #f8f3ec;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  right: 30%;
  top: 15%;
}

/* Modal Livros */

.book-modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 25%;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: auto;
}

.book-modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  width: 100%;
  height: 75%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
