@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&family=Roboto:ital,wght@1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

:root {
    background: #99c28b;
    --background-card: #e0d5b3;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #99c28b;
}

.container {
    width: 100vw;
}

.center {
    margin-left: 16%;
}

button {
    background-color: #94cc74;
    padding: 1em;
    border: none;
    border-radius: 1em;
}

button:hover {
    transition: .5s;
    filter: contrast(150%);
}

/* LIVROS */

/* posicionamento na página */
.background {
    display: grid;
    place-items: center;
    height: 40vh;
    padding-top: 20px;

}

/* titulos das seções */
.secao {
    position: absolute;
    top: -40px;
    left: -80px;
    /* font-family: Young Serif; */
    font-size: 16px;
    color: rgb(55, 57, 86);
    font-style: italic;

    border-radius: 1em;

    z-index: 2;
    background-color: white;
    padding: .5em;
}

/* seção */
.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 2% 20% 2% 0%;
}

/* Carrosel */
.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.card {
    flex: 0 0 auto;
    scroll-snap-align: start;
}

/* livro */
.card {
    position: relative;
    left: 0px;

    width: 110px;
    height: 160px;

    background-color: var(--background-card);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    border-radius: 8px;

    /* trancição de subida dos livros */
    transition: 1s ease-in-out;
    overflow: hidden;

    display: flex;
    justify-content: flex-start;
}

/* quando os livros não forem ativados */
.card:not(:first-child) {
    margin-left: -45px;
}

/* quando forem ativados */
.card:hover {

    /* faz o livro subir */
    transform: translateY(-16px);

    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}

/* faz os outros livros se afastarem 
.card:hover~.card {
    left: 55px;
}
*/

/* posicionamento da capa do livro */
.card img {
    height: 160px;
    object-fit: cover;
    border-radius: 4px;
}

#card-button {
    padding: 0;
}

#card-button {
    filter: contrast(100%);
}







/*  CABEÇALHO */

/* "senai" */
.logo {
    border-radius: 5px;
    position: absolute;
    right: 5%;
    top: 1%;
}


.cabecalho {
    display: flex;
    gap: 78px;
    padding: 34px;
    background-color: bisque;
}



/* BARRA DE PESQUISA */

/* barra em geral */
.search-box {
    background: #fff;

    height: 45px;
    border-radius: 40px;
    padding: 3px;

    /* posicionamento do texto na caixa  */
    display: flex;

    position: absolute;
    right: 37%;
    top: 10px;

}

/* barra de pesquisa e place-holder */
.search-text {
    /* tira a formatação pronta de html */
    background: none;
    border: 0;
    outline: 0;

    font-size: 16px;
}

/* tamanho da barra de pesquisa */
.search-text {
    width: 500px;
    padding-left: 20px;
}


/* fundo verde da lupa */
.back-loupe-white {
    background: #94cc74;

    width: 43px;
    height: 50.5px;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    position: absolute;
    top: 0%;
    right: -2%;

}

/* espaçamento da lupa no fundo verde */
.loupe-white {
    margin: 12px 5px;


}

/* espaçamento da lupa no fundo verde */
.loupe-white:hover {
    cursor: grab;


}


/* FILTRO */

.filter {
    display: flex;
    align-items: center;
    margin-left: 9%;
    background-color: bisque;
    width: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    /* display: none; */
}


.filter-item {
    margin-right: 0;
    width: 25%;
}

.filter-icon {
    margin-left: 10px;

}

.filter-icon:checked~.filter {
    display: block;
}


.checkbox-filter {
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: #faf2f2;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-right: 3px;
}



.checkbox-filter::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 17px;
    color: #fff;
    content: "\f00c";
    display: none;
}


.filter :where(label) {
    display: flex;
    align-items: center;
    color: #4c4c4c;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 15px;
}

.checkbox-filter:hover {
    background-color: #cac7c7;
}

.checkbox-filter:checked {
    background-color: #5bcd3e;
}

.checkbox-filter:checked::after {
    display: block;
}



/* BARRA DE NAVEGAÇÃO LATERAL */

.menu {
    background: none;
    border: 0;
    outline: 0;
    border: none;

    cursor: pointer;
}

/* links da barra */
.item-menu {
    /* distância de um pra outro */
    padding-bottom: 0px;
    display: flex;
}

/* barra lateral no geral */
nav.menu-lateral {
    background-color: #7b9c69;
    box-shadow: 0px 0px 1em black;

    width: 80px;
    height: 100vh;

    /* ajustar o espaçamento dos icones */
    padding: 60px 0 60px 1%;


    position: fixed;
    overflow: hidden;
    transition: .5s;
    z-index: 10;

    top: 0px;
}

/* largura da barra */
nav.menu-lateral.expandir {
    width: 350px;
}

/* icone que abre a barra */
.btn-expandir {
    width: 100%;
    padding-left: 10px;

    position: absolute;
}

.btn-expandir>i {
    color: rgb(255, 255, 255);
    font-size: 30px;

    cursor: pointer;
    position: absolute;
    top: -40px;
}

/* alinhamento de itens */
ul {
    list-style-type: none;
    align-items: stretch;
}

ul.itens a {
    transition: .2s;
}

ul.itens a:hover {
    background: #88aac7;

    padding: 20px;
    cursor: pointer;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

ul.itens a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 2.5%;
    display: flex;
    line-height: 40px;
}

ul.itens a .txt-link {
    display: none;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
    display: block;
}

ul a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}





/* PERFIL USUÁRIO */

.information {
    /* posição */
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 25%;

    border-radius: 15px;
    background-color: #fff;
    z-index: 10;




    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

.information:hover {
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
}


.user-name {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    line-height: 24px;
    color: #323099;
    font-family: sans-serif;

    margin-top: 3px;

}

.user-email,
.user-class,
.user-tel {
    color: #646464;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 7px;
}

/* posição do usuário na escola */
.title-profile {
    font-size: 16px;
    margin-top: 2px;
    font-weight: 700;
    padding-top: 15px;
    color: rgb(131, 131, 230);
    font-family: sans-serif;
}




/* icone */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.m-2 {
    margin: 12px;
}

.p-4 {
    padding: 24px;
}


.image-logo {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 4px solid rgb(26, 48, 139);
    position: relative;
    box-shadow: 2px 3px 12px black;
    overflow: hidden;

}

.image-logo img {
    object-fit: cover;
}

.image-logo i {
    position: absolute;
    margin: 0 auto;
    font-size: 50px;
    color: rgb(0, 26, 128);
}

#image-field {
    position: absolute;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
}



.cad-li,
.cad-emp {
    cursor: pointer;

    width: 120px;
    height: 45px;

    font-weight: 700;
    color: #fff;
    padding: 8px 10px;
    margin-top: 15px;

    border-radius: 10px;
    background: #323099;
    border: 0;
    outline: 0;
}

.button-line {
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 16px 16px 0 16px;
}

.exit-button {
    width: 105px;
    height: 40px;
    background-color: rgb(247, 217, 217);
    color: rgb(155, 45, 45);
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin: 16px auto;
    cursor: pointer;
}



/* MODAIS NO GERAL */
.modal::backdrop {
    background-color: rgb(0 0 0 / .5);
}

.modal-li,
.modal-emp {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ebf1e8;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    max-height: 90%;
    box-sizing: border-box;

    padding: 30px;
    margin-top: 15px;
    border: 1px solid #ccc;
    z-index: 1000;

    border-radius: .8rem;

    overflow: hidden;
    overflow-y: scroll;
}

.close,
.closea {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0;
    top: 2px;
    right: 5px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-left: 100%;
}

/* MODAL EMPRÉSTIMOS */

.modal-emp :where(input) {
    width: 20%;
    height: 15px;
    margin: 5px 1px 28px 1px;
    padding: 9px;
    font-size: 14px;
    font-weight: 200;
    color: #555;
    border: rgb(65, 118, 97) 1px solid;
    outline: none;
    border-radius: 5px;
}


.modal-emp :where(li) {
    padding: 5px 15px 2px 15px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #555;
    font-weight: 500;

}



.modal-emp :where(.accept-button, .reject-button) {
    cursor: pointer;
    color: #ffffff;
    padding: 8px 22px;
    border-radius: 6px;
    background: #99c28b;
    transition: all 0.5s ease;
    border: 0;

}

.modal-emp :where(.reject-button) {
    background: rgb(231, 127, 127);
}



.modal-emp :where(button:active) {
    transform: scale(0.96);
}


.circlea {
    position: absolute;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -35px;
    right: 0;
    left: 0;
    background-color: #94cc74;
    border: 2px #fff solid;
}

.modal-emp :where(.figure) {
    position: absolute;
    top: 15px;
    left: 15px;
}


/* MODAL LIVROS */

.form-group h1 {
    margin: 1em 0em 1em 0em;
}

.modal-li :where(li) {
    padding: 5px 15px -10px 15px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #555;
    font-weight: 500;

}

.modal-li :where(.figure) {
    position: absolute;
    top: 5px;
    left: 5px;
}

.modal-li :where(input),
.modal-li :where(textarea) {
    width: 95%;
    height: 15px;
    margin: 5px 1px 28px 1px;
    padding: 9px;
    font-size: 14px;
    font-weight: 200;
    color: #555;
    border: rgb(65, 118, 97) 1px solid;
    outline: none;
}

.modal-li :where(textarea) {
    height: 150px;
}

.modal-li :where(label) {

    display: block;
    position: absolute;
    font-size: 18px;
    color: rgb(169, 171, 170);
    margin-top: -50px;
    padding-left: 18px;
    text-align: left;
    pointer-events: none;
    transition: .4s;

}

.modal-li :where(input:focus~label),
.modal-li :where(input:valid~label) {
    margin-top: -80px;
    padding-left: 8px;
    color: #026948;
    font-weight: 500;
}

.modal-li :where(textarea:focus~label),
.modal-li :where(textarea:valid~label) {
    margin-top: -215px;
    padding-left: 8px;
    color: #026948;
    font-weight: 500;
}


.available {
    color: rgb(2, 105, 72);
    font-size: 18px;
    padding: 50px 320px 0 0;
    margin: -11% 5px;

}

.checkbox-div {
    position: relative;
    display: inline-flex;
    margin-bottom: 2px;

}

.send {
    cursor: pointer;
    color: #ffffff;
    padding: 7px 35px;
    border-radius: 6px;
    background: #99c28b;
    transition: all 0.5s ease;
    border: 0;
    font-size: 18px;
    font-weight: 500;
    margin-top: 2px;
    display: inline-block;
}

.send:active {
    transform: scale(1);
    background: #cce4c5;
    color: #99c28b;
}

.date {
    font-size: 18px;
    padding-left: 8px;
    color: #026948;
    font-weight: 500;
}

.file {
    width: 40%;
}

.capa {
    position: absolute;
    right: 15%;
    bottom: 7%;
    border: none;
    border-image: none;
    border-radius: 10px;
}

/* Mensagens de alerta */

:root {
    --primary: #0676ed;
    --background: #222b45;
    --warning: #f2a600;
    --success: #12c99b;
    --error: #e41749;
    --dark: #151a30;
}

.alert-primary {
    background: var(--primary);
}

.alert {
    position: fixed;
    min-height: 67px;
    display: flex;
    align-items: center;
    padding-left: .5em;
    padding-right: .5em;
    width: fit-content;
    margin: .3em;
    border-radius: .3em;
    color: white;
    z-index: 1000;
    top: 5px;
    left: 5px;
}


.alert-warning {
    background: var(--warning);
}

.alert-success {
    background: var(--success);
}

.alert-primary {
    background: var(--primary);
}

.alert-dark {
    background: var(--dark);
}

.alert-error {
    background: var(--error);
}

.alert .icon__wrapper {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.253);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert .icon__wrapper span {
    font-size: 21px;
    color: #fff;
}

.alert p {
    color: #fff;
    font-family: Verdana;
    margin-left: 10px;
}

.alert p a,
.alert p a:visited,
.alert p a:active {
    color: #fff;
}

.alert .open {
    margin-left: auto;
    margin-right: 5px;
}

.alert .close,
.alert .open {
    color: black;
    transition: transform 0.5s;
    font-size: 18px;
    cursor: pointer;
}

.alert .close:hover,
.alert .open:hover {
    transform: scale(1.3);
}

.alert .close {
    background-color: white;
    border-radius: 1em;
    border-color: white;
    position: relative;
    margin-left: 1em;
}

/* Livro página inicial */

#card-button {
    padding: 0;
}

#card-button {
    filter: contrast(100%);
}


/* Formulário Livro */

.book-form {
    margin: 5% 22.5% 5% 27.5%;
    display: block;
    background-color: #f8f8f8;
    border: none;
    border-radius: 1em;
    padding: 16px;
    text-align: center;
}

.book-form label {
    display: block;
    margin-top: 1em;
}

.loan-list input,
.requests-loan-list input,
.home-charts input,
.user-preview input,
.form input,
.form textarea,
.book-form input,
.book-form textarea,
.book-form select {
    margin: .5em;
    padding: 1em;
    border: none;
    border-radius: 1em;
    width: 75%;
}

.home-charts input {
    width: 25%;
}

.expired-loans input,
.requests-loan-list input {
    width: 96%;
}

.loan-list button {
    width: 100%;
}

input[type="file"] {
    border-radius: 0px;
}

.book-form button {
    margin: .5em;
    padding: .5em;
    border: none;
    border-radius: 1em;
}

.book-form button[type='submit'] {
    padding: 1em;
    width: 50%;
}

#book-form-image {
    margin: .5em;
    width: 180px;
}

.search-book-form {
    margin: 5% 0% 5% 27.5%;
    display: block;
    background-color: #f8f8f8;
    border: none;
    border-radius: 1em;
    padding: 16px;
    text-align: center;
    width: 47.5%;
}

/* Empréstimos */

.book-covers,
.loaned-books {
    margin: 0% 15% 5% 0%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f8f8;
    border: none;
    border-radius: 1em;
    padding: 16px;
}

.loan {
    margin: 2% 7% 2% 8%;
    width: 160px;
}

.loan img {
    width: 160px;
    height: 270px;
}

.loan-list button,
.loaned-books button,
.form button {
    display: block;
    border: none;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0em 1em 0em;
}

.search-form button {
    border: none;
    border-radius: 1em;
    padding: 1em;
}

#openModal {
    display: block;
    border: none;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0em 1em 0em;
}

#loan-return {
    width: 95%;
    padding: .3em;
    border-radius: .5em;
    margin: 1em 0em 1em 0em;
}

/* Perfil de Usuário */

.user-preview,
.form {
    display: block;
    margin: 5% 0% 5% 17%;
    width: 50%;
    background-color: #f8f8f8;
    border: none;
    border-radius: 1em;
    padding: 16px;
    text-align: center;
}

.user-preview .user-info a {
    text-decoration: none;
}

.user-preview input,
.form input,
.form textarea {
    background-color: white;
    border-radius: 1em;
    width: 75%;
}

.form button {
    width: 50%;
    margin-left: 25.5%;
}

.user-preview label,
.form label {
    display: block;
    margin-top: 1em;
}

/* Formulário de Lista de Empréstimos */

.form img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #94cc74;
    border: 2px #fff solid;
    object-fit: cover;
}

.search-form {
    display: block;
    margin: 5% 15% 5% 0%;
    background-color: #f8f8f8;
    border: none;
    border-radius: 1em;
    padding: 16px;
    text-align: center;
}

.search-form input {
    border: none;
    padding: 1em;
}

.modal-content {
    width: 100%;
}

.modal-content .receipt {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.modal-content .close {
    margin-left: 95%;
}

.modal .loaned-books {
    width: 100%;
}

.modal {
    display: flex;
}

.requests-loan-list,
.loan-list {
    margin-right: 15%;
    height: 50%;
}

.requests-loan-list ul,
.loan-list ul {
    display: flex;
    flex-wrap: wrap;
}

.requests-loan-list label,
.loan-list label {
    display: flex;
}

.requests-loan-list ul li,
.loan-list ul li {
    display: block;
    background-color: #f8f8f8;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

.requests-loan-list button {
    margin: 1% 2% 0% 2%;
    width: 45%;
}

.loan-requests #stock {
    border: none;
    padding: 1em;
    border-radius: 1em;
    width: 5%;
}

.home-charts {
    margin: 5% 0% 0% 10%;
}

.user-preview label {
    margin: 2% 60% 0% 13%;
    color: white;
    background-color: rgba(0, 0, 0, .75);
    padding: .5em;
    border-radius: .5em;
}

.user-preview img {
    object-fit: cover;
}

#delete-button {
    background-color: rgb(255, 50, 50);
    width: 50%;
}

/* RESPONSIVIDADE */

@media (min-width:1280px) {}

/* mobile */

@media (min-width:480px) and (max-width:1280px) {

    .center {
        margin: 20% 13% 0% 5%;
    }

    /* PÁGINA INICIAL */

    nav.menu-lateral {
        display: block;
        height: 0;
        width: 100%;
        padding: 60px 0 0px 0;
        box-shadow: none;
    }

    nav.menu-lateral.expandir {
        width: 100%;
        height: 100%;
    }

    nav.menu-lateral.expandir ul.itens {
        display: block;
    }

    .btn-expandir i {
        margin-left: 0%;
    }

    .menu-lateral ul.itens {
        display: none;
    }

    ul.cabecalho {
        position: relative;
        margin-top: 15%;
        padding: 1em;
    }

    ul.cabecalho li img {
        /* 
        position: fixed;
        top: 5px;
        z-index: 1000;
        */
        display: none;
    }

    .search-box {
        width: 100%;
        position: relative;
        right: 24%;
        top: 0;
    }

    .filter {
        width: 100%;
        margin: 0;
        padding: 1em 0 1em 0;
        display: block;
    }

    .filter-item {
        margin-right: 0;
        width: 100%;
    }

    .filter-item label {
        display: block;
    }

    .filter-item input {
        width: 100%;
    }

    .information {
        display: none;
    }

    .w-100,
    .box,
    .title-profile,
    .user-name,
    .user-email,
    .button-line {
        display: none;
    }

    .secao {
        width: 100%;
        text-align: center;
        margin-left: 18%;
    }

    .gallery {
        padding: 10% 10% 10% 10%;
        margin: 10% 0 0 10%;
        width: 50%;
    }

    .card {
        margin-left: 0;
    }

    /* FORMULÁRIOS */

    .search-form,
    .book-covers,
    .requests-loan-list,
    .expired-loans,
    .form,
    .user-preview,
    .modal,
    .book-modal {
        width: 100%;
        display: block;
    }

    .search-form button {
        display: block;
        margin-left: 25%;
    }

    .requests-loan-list {
        margin-left: 5%;
    }

    .expired-loans button,
    .requests-loan-list button {
        width: 100%;
    }

    .expired-loans {
        margin-left: 13.5%;
    }

    .user-preview,
    .form {
        margin: 0;
    }

    .search-book-form,
    .book-form {
        margin: 20% 2.5% 10% 2.5%;
    }

    .search-book-form {
        width: 87%;
    }

    .user-preview .image-logo {
        display: block;
        margin-left: 31%;
    }

    .loan-requests #stock {
        width: 16%;
    }

    .form-control {
        margin: .5em 0 1em 0;
        border-radius: 1em;
    }

    .loaned-books {
        width: 100%;
    }

    .loan {
        margin: 0 0 0 25%;
    }

    .home-charts {
        margin: 15% 0 0 0;
        height: 100vh;
    }

    .home-charts h1 {
        font-size: 150%;
        margin-left: 8%;
    }

    .home-charts input {
        margin-left: 20%;
    }

    

}

/* mobile menor */

@media (max-width:480px) {

    .center {
        margin: 20% 13% 0% 5%;
    }

    /* PÁGINA INICIAL */

    nav.menu-lateral {
        display: block;
        height: 0;
        width: 100%;
        padding: 60px 0 0px 0;
        box-shadow: none;
    }

    nav.menu-lateral.expandir {
        width: 100%;
        height: 100%;
    }

    nav.menu-lateral.expandir ul.itens {
        display: block;
    }

    .btn-expandir i {
        margin-left: 0%;
    }

    .menu-lateral ul.itens {
        display: none;
    }

    ul.cabecalho {
        position: relative;
        margin-top: 15%;
        padding: 1em;
    }

    ul.cabecalho li img {
        /* 
        position: fixed;
        top: 5px;
        z-index: 1000;
        */
        display: none;
    }

    .search-box {
        width: 100%;
        position: relative;
        right: 24%;
        top: 0;
    }

    .filter {
        width: 100%;
        margin: 0;
        padding: 1em 0 1em 0;
        display: block;
    }

    .filter-item {
        margin-right: 0;
        width: 100%;
    }

    .filter-item label {
        display: block;
    }

    .filter-item input {
        width: 100%;
    }

    .information {
        display: none;
    }

    .w-100,
    .box,
    .title-profile,
    .user-name,
    .user-email,
    .button-line {
        display: none;
    }

    .secao {
        width: 100%;
        text-align: center;
        margin-left: 18%;
    }

    .gallery {
        padding: 10% 10% 10% 10%;
        margin: 10% 0 0 10%;
        width: 60%;
    }

    .card {
        margin-left: 0;
    }

    .card:not(:first-child) {
        margin-left: -38px;
    }

    /* FORMULÁRIOS */

    .search-form,
    .book-covers,
    .requests-loan-list,
    .expired-loans,
    .form,
    .user-preview,
    .modal,
    .book-modal {
        width: 100%;
        display: block;
    }

    .search-form button {
        display: block;
        margin-left: 25%;
    }

    .requests-loan-list {
        margin-left: 5%;
    }

    .expired-loans button,
    .requests-loan-list button {
        width: 100%;
    }

    .expired-loans {
        margin-left: 13.5%;
    }

    .user-preview,
    .form {
        margin: 0;
    }

    .search-book-form,
    .book-form {
        margin: 20% 2.5% 10% 2.5%;
    }

    .search-book-form {
        width: 87%;
    }

    .user-preview .image-logo {
        display: block;
        margin-left: 29%;
    }

    .loan-requests #stock {
        width: 16%;
    }

    .form-control {
        margin: .5em 0 1em 0;
        border-radius: 1em;
    }

    .loaned-books {
        width: 100%;
    }

    .loan {
        margin: 0 0 0 25%;
    }

    .home-charts {
        margin: 15% 0 0 0;
        height: 100vh;
    }

    .home-charts h1 {
        font-size: 150%;
        margin-left: 8%;
    }

    .home-charts input {
        margin-left: 20%;
    }
}

/* ADICIONÁVEIS */

.no-display {
    display: none;
}