{% load static %}

<body>
    <title>LRS - Biblioteca</title>
  
    {% if messages %}
        {% for message in messages %}
            {% if form.errors %}
                {{message}}
            {% else %}
                {{message}}
                {% endif %}
        {% endfor %}
    {% endif %}

    <!-- MENU -->
    <nav class="menu-lateral">

        <ul class="itens">
            <li>
                <a href="{% url 'home' %}">
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li>
                <a href="{% url 'books' %}">
                    <span class="txt-link">Livros</span>
                </a>
            </li>
            <li>
                <a href="{% url 'myloans' %}">
                    <span class="txt-link">Meus empréstimos</span>
                </a>
            </li>
            {% if user.is_staff %}
            Staff
            <li class="item-menu">
                <a href="{% url 'loans' %}">
                    <span class="txt-link">Empréstimo</span>
                </a>
            </li>
            <li>
                <a href="{% url 'bookadd' %}">
                    <span class="txt-link">Cadastrar Livros</span>
                </a>
            </li>
            <li>
                <a href="{% url 'userregister' %}">
                    <span class="txt-link">Cadastrar Usuários</span>
                </a>
            </li>
            <li>
                <a href="{% url 'profiles' %}">
                    <span class="txt-link">Usuários</span>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'profile' %}">
                    <span class="txt-link">Perfil</span>
                </a>
            </li>
            <li>
                <a href="{% url 'signout' %}">
                    <span class="txt-link">Sair</span>
                </a>
            </li>

        </ul>

        <ul> 
            <div class="search-box">
                <input type="text" placeholder="Pesquisar livro">
            </div>
        </ul>

        <ul> 
            <div class="search-box">
                <button>Notificações</button>
            </div>
        </ul>

    </nav>
        {% block content %}

        {% endblock %}
    </div>
</body>
