{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Importações do Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <title>LRS - Biblioteca</title>
  
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
       <strong>{{ message }}</strong>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
       </button>
    </div>
    {% endfor %}

    <!-- MENU -->
    <nav class="menu-lateral">

        <ul class="itens">
            <li>
                <a href="{% url 'books' %}">
                    <span class="txt-link">Livros</span>
                </a>
            </li>
            <li>
                <a href="{% url 'myloans' %}">
                    <span class="txt-link">Meus empréstimos</span>
                </a>
            </li>
            {% if user.is_staff %}
            Staff
            <li>
                <a href="{% url 'home' %}">
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'loans' %}">
                    <span class="txt-link">Empréstimo</span>
                </a>
            </li>
            <li>
                <a href="{% url 'bookadd' %}">
                    <span class="txt-link">Cadastrar Livros</span>
                </a>
            </li>
            <li>
                <a href="{% url 'userregister' %}">
                    <span class="txt-link">Cadastrar Usuários</span>
                </a>
            </li>
            <li>
                <a href="{% url 'profiles' %}">
                    <span class="txt-link">Usuários</span>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'profile' %}">
                    <span class="txt-link">Perfil</span>
                </a>
            </li>
            <li>
                <a href="{% url 'signout' %}">
                    <span class="txt-link">Sair</span>
                </a>
            </li>

        </ul>

    </nav>
        {% block content %}
        
        {% endblock %}
    </div>
</body>
