{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Filtro -->

    <label>Filtrar por:</label>
    <div>
        <input type="checkbox" id="id_filter_available" value="available">
        <label for="id_filter_available">Disponíveis</label>
    </div>
    <div>
        <input type="checkbox" id="id_filter_unavailable" value="unavailable">
        <label for="id_filter_unavailable">Indisponíveis</label>
    </div>
    <div>
        <input type="checkbox" id="filter_wish_list" value="wish_list">
        <label for="filter_wish_list">Lista de Desejos</label>
    </div>
    <div>
        <input type="checkbox" id="id_filter_soon" value="soon">
        <label for="id_filter_soon">Em Breve</label>
    </div>

<!-- LIVROS -->

    <span class="background">
        
        <section class="gallery" data-state="available" style="display: flex;">
            <h3 class="secao">Disponíveis</h3>
            {% for book in all_books %}
                {% if book.state == "available" %}
                    <article class="card" data-state="available">
                        <button onclick="OpenBookModal('{{book.title|escapejs}}', '{{book.author|escapejs}}', '{{book.synopsis|escapejs}}', '{{book.genre|escapejs}}', '{{book.release_date}}', '{{book.get_state_display}}', '{{book.stock}}', '{{ book.id }}')">
                            {% if book.front_cover %}
                            <img src="{{book.front_cover.url}}" alt="Capa">
                            {% else %}
                            <img src="" alt="Capa padrão">
                            {% endif %}
                        </button>
                    </article>
                {% endif %}
            {% endfor %}
        </section>

        <section class="gallery" data-state="unavailable" style="display: flex;">
            <h3 class="secao">Indisponíveis</h3>
            {% for book in all_books %}
                {% if book.state == "unavailable" %}
                    <article class="card" data-state="unavailable">
                        <button onclick="OpenBookModal('{{book.title|escapejs}}', '{{book.author|escapejs}}', '{{book.synopsis|escapejs}}', '{{book.genre|escapejs}}', '{{book.release_date}}', '{{book.get_state_display}}', '{{book.stock}}', '{{ book.id }}')">
                            {% if book.front_cover %}
                            <img src="{{book.front_cover.url}}" alt="Capa">
                            {% else %}
                            <img src="" alt="Capa padrão">
                            {% endif %}
                        </button>
                    </article>
                {% endif %}
            {% endfor %}
        </section>

        <section class="gallery" data-state="soon" style="display: flex;">
            <h3 class="secao">Em Breve</h3>
            {% for book in all_books %}
                {% if book.state == "soon" %}
                    <article class="card">
                        <button onclick="OpenBookModal('{{book.title|escapejs}}', '{{book.author|escapejs}}', '{{book.synopsis|escapejs}}', '{{book.genre|escapejs}}', '{{book.release_date}}', '{{book.get_state_display}}', '{{book.stock}}', '{{ book.id }}')">
                            {% if book.front_cover %}
                            <img src="{{book.front_cover.url}}" alt="Capa">
                            {% else %}
                            <img src="" alt="Capa padrão">
                            {% endif %}
                        </button>
                    </article>
                {% endif %}
            {% endfor %}
        </section>
        
    </span>

    <!-- Modal -->
    <div id="id_book-modal" class="book-modal" style="display: none;">

        <!-- Conteúdo do Modal -->
        <span class="close">&times;</span>
        <div id="id_book_modal_form" class="book-modal-content">
        </div>          
        <form action="{% url 'bookloan' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="user_id" name="user" value="{{ user.id }}">
            <input type="hidden" id="book_id" name="book" value="">
            <button type="submit">Realizar empréstimo</button>
        </form> 
        <button>+ Lista de Desejos</button>
        {% if user.is_staff %}
            <button onclick="location.href='{% url 'bookedit' %}'">Editar</button>
        {% endif %}

    </div>
    <script src="{% static 'js/book.js' %}"></script>
{% endblock %}