{% extends 'base.html' %}

{% block content %}
<body>

<div class="centered-container">
    <div class="form-group">
        <form method="POST" action="/cadastro-livros" enctype="multipart/form-data">
            {% csrf_token %}
                <h1>Novo Livro</h1>
                <ul>
                    <li>
                        <input type="text" name="title" maxlength="255" required="" id="id_title" placeholder="Título">
                    </li>
                    <li>
                        <input type="text" name="author" maxlength="80" required="" id="id_author" placeholder="Autor">
                    </li>
                    <li>
                        <textarea name="synopsis" cols="40" rows="10" required="" id="id_synopsis" placeholder="Sinópse"></textarea>
                    </li>
                    <li>
                        <input type="date" name="release_date" required="" id="id_release_date" placeholder="Data de lançamento">
                    </li>
                    <li>
                        <input type="checkbox" name="is_available" id="id_is_available">
                        <label for="id_is_available">Disponível</label>
                    </li>
                    <li>
                        <input type="file" name="front_cover" accept="image/*" id="id_front_cover" placeholder="Capa">
                    </li>
                </ul>
            <button type="submit">Enviar</button>
        </form>               
        <img id="right-info" class="innerdivs" src="{{ book.front_cover.url }}" alt="Capa padrão">
    </div>
</div>
</body>
{% endblock %}