Olá {{ user.full_name.split|first }},

   O seu empréstimo solicitado ao livro {{ book.title|safe }} foi aceito.
   Por favor, se atente as regras de empréstimos:
     ° Entregue o livro antes do prazo limite;
     ° Tome cuidado ao manusear o livro, pois ele é propriedade do SENAI;

   Para realizar a retirada basta abrir no site da biblioteca a aba "Meus Empréstimos", clicar em "Meus comprovantes" e mostrar o comprovante ao bibliotecário.

   Apreciamos o seu interesse em nossa biblioteca.
   Atenciosamente, Out of Box Library.