{% extends 'base.html' %}

{% load templatetags %}

{% block content %}
<body>
 <h1>{{ book.title }}</h1>

 <!-- Lista de Empréstimos Expirados -->
 <div class="expired-loans">
   <h2>Empréstimos Expirados</h2>
   <ul>
     {% for loan in expired_loans %}
       <li>
         {{ loan.user }}
         <p>E-mail: {{ loan.user.email }}</p>
         <p>Telefone: {{ loan.user.phone_number }}</p>
         <p>Curso: {{ loan.user.course }}</p>
         <label for="date1">Solicitado em:</label>
         <input type="date" id="date1" readonly value="{{ loan.start_date|date:'Y-m-d' }}" />
         <label for="date2">Data de Expiração:</label>
         <input type="date" id="date2" readonly value="{{ loan.final_date|date:'Y-m-d' }}" />
         Atrasado em {{ loan.days_to_return|abs }} {% if loan.days_to_return|abs > 1 %} dias {% else %} dia. {% endif %}
       </li>
     {% endfor %}
   </ul>
 </div>
</body>
{% endblock %}
