{% extends 'base.html' %} {% block content %}
    <div class="home-charts">
      <h1>Livros mais solicitados</h1>
      <canvas id="books-chart"></canvas>
      <h1>Gêneros mais solicitados</h1>
      <canvas id="genres-chart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

// Gera cor aleatória
function getRandomColor() {
 var letters = '0123456789ABCDEF';
 var color = '#';
 for (var i = 0; i < 6; i++) {
   color += letters[Math.floor(Math.random() * 6)];
 }
 return color;
}

colors = []
{% for book in books_data %}
  colors.push(getRandomColor());
{% endfor %}

      var booksConfig = {
        type: 'pie',
        data: {
          datasets: [{
            data: {{ books_data|safe }},
            backgroundColor: colors,
            label: 'Livros'
          }],
          labels: {{ books_labels|safe }}
        },
        options: {
          legend: {
            display: false
         }
        }
      };

      window.onload = function() {
        var ctxBooks = document.getElementById('books-chart').getContext('2d');
        window.myBooks = new Chart(ctxBooks, booksConfig);
      };
    </script>
{% endblock %}
