{% extends 'base.html' %}

{% block content %}

    <body>
        <h1>Cadastro</h1>
        <form method="POST" action="{% url 'join' %}">
            {% csrf_token %}
            <label for="signup-name">Nome</label>
            <input type="text" id="signup-name" name="name" value="{{name}}">
            <label for="signup-email">E-mail</label>
            <input type="email" id="signup-email" name="email" value="{{email}}">
            <label for="signup-number">Celular (opcional)</label>
            <input type="text" id="signup-number" name="number" value="{{number}}">
            <label for="signup-occupation">Cargo</label>
            <select id="signup-occupation" name="occupation" value="{{occupation}}">
                <option value="Estudante">Estudante</option>
                <option value="Professor">Professor</option>
                <option value="Funcionário">Funcionário</option>
            </select>
            <label for="signup-password">Senha</label>
            <input type="password" id="signup-password" name="passwd" value="{{passwd}}">
            <button type="submit">Cadastrar</button>
        </form>            

    </body>
    
{% endblock %}