{% extends 'base.html' %} {% block content %}
<body>
  <h1>{{ book.title }}</h1>

  <!-- Lista de Empréstimos Solicitados -->
  <div class="loan-requests">
    Estoque: {{ book.stock }}
    <h2>Empréstimos Solicitados</h2>
    <ul>
      {% for loan in book_loans %}
      {% if loan.is_on is not True %}
        <form action="{% url 'loanslist' loan.book.id %}" method="POST">
          {% csrf_token %}
          <li>
            {{ loan.user }}
            <label for="date1">Solicitado em:</label>
            <input type="date" id="date1" readonly value="{{ loan.date|date:'Y-m-d' }}" />
            <button class="accept-button" data-loan-id="1" name="accept" value="{{loan.id}}">Aceitar</button>
            <button class="reject-button" data-loan-id="1" name="reject" value="{{loan.id}}">Negar</button>
          </li>
        </form>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</body>
{% endblock %}
