{% extends 'base.html' %} {% block content %}
<body>
  <!-- Lista dos Livros Solicitados -->
  <h2>Empréstimos Solicitados</h2>
  <div class="book-covers">
    {% for book in books %}
      <a href="{% url 'loanslist' book.id %}">
        <div class="book-cover">
          <img
            src="{{ book.front_cover.url }}"
            alt="Capa"
          />
        </div>
      </a>
    {% endfor %}
  </div>

  <!-- Lista dos Livros com Empréstimos Atrasados -->
  <h2>Empréstimos Atrasados</h2>
  <div class="book-covers">
    {% for book in expired_loans_books %}
      <a href="{% url 'expiredloanslist' book.id %}">
        <div class="book-cover">
          <img
            src="{{ book.front_cover.url }}"
            alt="Capa"
          />
        </div>
      </a>
    {% endfor %}
  </div>

  <!-- Lista dos Livros com Empréstimos Ativos -->
  <h2>Empréstimos Ativos</h2>
  <div class="book-covers">
    {% for book in activated_books %}
      <a href="{% url 'activeloanslist' book.id %}">
        <div class="book-cover">
          <img
            src="{{ book.front_cover.url }}"
            alt="Capa"
          />
        </div>
      </a>
    {% endfor %}
  </div>

</body>
{% endblock %}