{% extends 'base.html' %}
{% block content %}
<body>
  <h1>Página de Meus Empréstimos</h1>

  <!-- Botão para Meus Comprovantes -->
  <button id="openModal">Meus Comprovantes</button>

  <!-- Seção de Livros -->
  <h2>Empréstimos em Andamento</h2>
  {% for loan in all_loans %}
  {% if loan.is_on %}
    <div class="loaned-books">
      <div class="loan">
        <div class="book-cover"></div>
        <img src="{{ loan.book.front_cover.url }}" alt="Capa do Livro" />
        {% if loan.days_to_return > 7 %}
            <div style="background-color: green">{{ loan.days_to_return }} dias para a devolução do livro.</div>
        {% elif days_to_return > 3 %}
            <div style="background-color: yellow">{{ loan.days_to_return }} dias para a devolução do livro.</div>
        {% else %}
            <div style="background-color: red">{{ loan.days_to_return }} dias para a devolução do livro.</div>
        {% endif %}
      </div>
  {% endif %}
{% endfor %}

    <!-- Adicione mais livros em empréstimo aqui -->
  </div>

  <h2>Livros Devolvidos</h2>
  <div class="loaned-books">
    <!-- Adicione livros devolvidos aqui -->
  </div>

  <h2>Livros Atrasados</h2>
  <div class="loaned-books">
    <!-- Adicione livros atrasados aqui -->
  </div>

  <!-- Modal para Comprovantes -->
  <div id="myModal" class="modal" style="display: none">
    <div class="modal-content">
      <span class="close" id="closeModal">&times;</span>
      <div class="receipt">
        {% for loan in all_loans %}
          {% if loan.is_on and loan.days_to_return > 0 %}
            <h2>Comprovante do Livro {{ loan.book.title }}</h2>
            <img src="{{ loan.book.front_cover.url }}" />
            <p>Emprestado para: {{ loan.user }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <script>
    // Abrir o modal ao clicar no botão "Meus Comprovantes"
    document.getElementById("openModal").addEventListener("click", function () {
      document.getElementById("myModal").style.display = "block";
    });

    // Fechar o modal ao clicar no "X"
    document
      .getElementById("closeModal")
      .addEventListener("click", function () {
        document.getElementById("myModal").style.display = "none";
      });
  </script>
</body>
{% endblock %}
