{% extends 'base.html' %} 

{% load static %}

{% block content %}
<body>
  <h1>Perfil de Usuário</h1>

  <!-- Informações do Usuário -->
  <div class="user-info">
    {% if user.profile_image %}
    <img src="{{ user.profile_image.url }}" alt="Foto de Usuário" />
    {% else %}
    <img
      src="{% static 'images/default_profile_image.png' %}"
      alt="Foto de Usuário"
    />
    {% endif %}
    <p><strong>Nome:</strong> {{ user.full_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Telefone:</strong> {{ user.phone_number|default_if_none:'' }}</p>
    <p><strong>Curso:</strong> {{ user.course|default_if_none:'' }}</p>
    <a href="{% url 'editprofile' user.id %}">
      <button type="button">Editar Perfil</button>
  </a>
  </div>
</body>
{% endblock %}
